<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Home page</title>
	</head>
	<body>
		<h1>Home page</h1>
		<p>
			Welcome, <b><span sec:authentication="name">User</span></b>!
			<br />
			Your authorities: <span sec:authentication="principal.authorities">[ROLE_USER]</span>.
			<br />
			<br />
			<a href="userPage" sec:authorize="hasRole('USER')">User-only page</a><br />
			<a href="adminPage" sec:authorize="hasRole('ADMIN')">Admin-only page</a><br />
			<a href="contacts">Contacts</a><br />
			<a href="cookies">Cookies</a>
		</p>
	</body>
</html>